.loader {
}

.loader__button {
  margin: 60px auto 80px auto;
  width: 320px;
  height: 36px;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: 0.2s;
}

.loader__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .loader__button {
    margin: 45px auto 80px auto;
  }
}

@media screen and (max-width: 320px) {
  .loader__button {
    width: 240px;
  }
}
