.burger-menu__popup {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 1;
}

.burger-menu__popup_opened {
  visibility: visible;
}

.burger-menu__container {
  width: 70%;
  height: 100vh;
  position: sticky;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-menu__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  position: relative;
}

.burger-menu__link {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
  margin-top: 28px;
  display: block;
  width: fit-content;
}

.burger-menu__link_active {
  padding-bottom: 4px;
  border-bottom: 2px solid;
}

.burger-menu__link:hover {
  opacity: 0.7;
}

.burger-menu__button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 100px;
  height: 30px;
  text-align: left;
  background-image: url("../../../images/profile_icon_2.svg");
  background-repeat: no-repeat;
  background-position: right;
  /* transition: 0.2s; */
  margin-bottom: 90px;
}

.burger-menu__close-button {
  width: 22px;
  height: 22px;
  background-image: url("../../../images/close-icon.svg");
  background-color: transparent;
  background-position: center;
  padding: 0;
  border: none;
  position: absolute;
  top: -105px;
  right: 25px;
  cursor: pointer;
  /* transition: 0.2s; */
}

.burger-menu__close-button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .burger-menu__container {
    width: 520px;
  }

  .burger-menu__navigation {
    margin-top: 130px;
  }
}

@media screen and (max-width: 320px) {
  .burger-menu__container {
    width: 100%;
  }

  .burger-menu__close-button {
    top: -100px;
    right: 15px;
  }

  .burger-menu__navigation {
    margin-top: 115px;
  }

  .burger-menu__button {
    margin-bottom: 48px;
  }
}
