.content {
  max-width: 1140px;
  margin: 70px auto;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 70px 30px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin: 80px 30px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    margin: 80px 10px;
  }
}

.cards {
  border-top: 1px solid #E8E8E8;
  padding-top: 80px;
  min-height: 40vh;
}

.cardlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px 30px;
  justify-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media screen and (max-width: 1140px) {
  .cardlist {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 30px;
  }
}

@media screen and (max-width: 768px) {
  .cardlist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .cardlist {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    padding: 0;
  }
}
