@import url(../vendor/fonts/Inter_Web/inter.css);
@import url(../vendor/normalize.css);

.page {
  text-align: center;
  font-family: "inter", Arial, sans-serif;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
