.footer {
  margin: 0 auto 20px auto;
  max-width: 1140px;
}

.footer__title {
  color: #a0a0a0;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 80px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.footer__text-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-size: 13px;
  font-weight: 400;
}

/* .footer__navigation {

} */

.footer__link {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 320px) {
  .footer__title {
    font-size: 12px;
  }

  .footer__text-area {
    flex-direction: column-reverse;
  }

  .footer__navigation {
    display: flex;
    flex-direction: column;
    margin: 30px auto 18px auto;
  }

  .footer__link {
    margin: 12px auto;
    font-size: 12px;
  }

  .footer__link:first-of-type {
    margin: 0;
  }

  .footer__copyright {
    color: #a0a0a0;
    font-size: 12px;
  }
}
